@{
    ViewData["Title"] = "Home | Boatbud";
}

<div class="d-flex align-items-center flex-column justify-content-center gap-2" style="height: 50vh;">
    <img class="img-fluid w-50" src="~/images/Boatbud Logo Blue.svg" alt="Boatbud Logo" />
    <p class="text-center text-primary">Explore new horizons</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Products">View Boats</a>
</div>