@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="flex min-h-full flex-col justify-center py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 class="mt-10 text-center tracking-tight text-[#00222B] text-3xl font-bold">Change Password</h1>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" method="post" class="space-y-6">
            <div>
                <label asp-for="Input.OldPassword" class="block text-sm/6 font-medium text-gray-900"></label>
                <div class="mt-2">
                    <input asp-for="Input.OldPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-inset sm:text-sm/6 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                    <span asp-validation-for="Input.OldPassword" class="text-red-600 mt-1 text-sm"></span>
                </div>
            </div>

            <div>
                <label asp-for="Input.NewPassword" class="block text-sm/6 font-medium text-gray-900"></label>
                <div class="mt-2">
                    <input asp-for="Input.NewPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-inset sm:text-sm/6 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                    <span asp-validation-for="Input.NewPassword" class="text-red-600 mt-1 text-sm"></span>
                </div>
            </div>

            <div>
                <label asp-for="Input.ConfirmPassword" class="block text-sm/6 font-medium text-gray-900"></label>
                <div class="mt-2">
                    <input asp-for="Input.ConfirmPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-inset sm:text-sm/6 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-600 mt-1 text-sm"></span>
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center bg-[#00171D] px-20 py-2 rounded-md font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 oleo-script-bold text-[18.84px] hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Update Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
