@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="flex min-h-full flex-col justify-center py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 class="mt-10 text-center tracking-tight text-[#00222B] text-3xl font-bold">Log in to your account</h1>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="account" class="space-y-6" method="POST">
            <div>
                <label asp-for="Input.Email" class="block text-sm/6 font-medium text-gray-900"></label>
                <div class="mt-2">
                    <input asp-for="Input.Email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-inset sm:text-sm/6 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                    <span asp-validation-for="Input.Email" class="text-red-600 mt-1 text-sm"></span>
                </div>
            </div>

            <div>
                <label asp-for="Input.Password" class="block text-sm/6 font-medium text-gray-900"></label>
                <div class="mt-2">
                    <input asp-for="Input.Password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-inset sm:text-sm/6 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                    <span asp-validation-for="Input.Password" class="text-red-600 mt-1 text-sm"></span>
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center bg-[#00171D] px-20 py-2 rounded-md font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 oleo-script-bold text-[18.84px] hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Sign in</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-500">
            Don't have an account?
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold text-[#00171D] hover:text-gray-700">Register</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}